extends ../layout

block content
    h1 bhol.me link shortener
    p This site is a personal link shortener that I use. It was originally build a few years ago using PHP and MySQL, so as a side project (an a type of bootstrap project), I've rebuilt it using NodeJS and MongoDB.
    p It has a basic RESTful CRUD API and a simple dashboard for creating and viewing links.
    p
        | Go checkout the code on
        | <a href="https://github.com/hollandben/bhol.me">GitHub</a>
        | and feel free to provide any feedback/questions/angry messages that I did something wrong!
